/* Fonts */

/* roboto-regular */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
       url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), /* Modern Browsers */
}

/* roboto-500 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""),
       url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), /* Modern Browsers */
}

/* roboto-700 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""),
       url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), /* Modern Browsers */
}



/*Variables*/

:root {

  /* Main page colors */
  --basic-white: #ffffff;
  --basic-black: #000000;
  --index-green: #849d8f;
  --index-gray: #8996a6;
  --index-cocoa: #9d8b84;
  --promo-text: #323232;
  --mailing-text: #5a5a5a;
  --shadow-black: rgba(0, 0, 0, 0.25);
  --basic-button-soft: rgba(242, 104, 67, 1);
  --basic-button-deep: rgba(231, 74, 53, 1);
  --basic-button-shadow: #ac1000;
  --border-opacity-white: rgba(255, 255, 255, 0.25);
  --border-modal: #b2b2b2;
  --modal-text: #999999;
  --half-white: rgba(255, 255, 255, 0.5);
  --modal-cart-back: #f8f7f4;
  --selected-blue: #1e90ff;

  /* Catalog additional colors */

  /* Conditions colors */

}



/* Global */


body {
  width: 1146px;
  margin: 0 auto;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: var(--basic-black);
  position: relative;
}

.page {
  width: 1200px;
  height: 100%;
  background-color: var(--soft-back-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.display-none {
  display: none;
}


.position-relative {
  position: relative;
}


.index-main-color {
  background-color: var(--index-green);
}

.index-gray-color {
  background-color: var(--index-gray);
}

.index-cocoa-color {
  background-color: var(--index-cocoa);
}

.basic-button {
  border-radius: 40px;
  color: var(--basic-white);
  font-weight: 700;
  background: linear-gradient(var(--basic-button-soft), var(--basic-button-deep));
  border: none;
  outline: none;
  padding: 15px 22px;
  box-sizing: border-box;

}

/* добавить тень .basic-button */

.two-columns-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 26px;

}
/* Main */

.main-logo-wrapper {
  padding-top: 9px;
}

.top-bar {
  display: grid;
  grid-template-columns: 3fr, 1fr;
  column-gap: 26px;
  min-height: 99px;
}

.logo-nav-wrapper {
  grid-column: 1/2;
  display: flex;
  flex-wrap: wrap;
}

.user-section {
  grid-column: 2/2;
  display: flex;
  flex-direction: column;
  padding-top: 23px;

}

.main-nav {
  font-weight: 700;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 28px;
}

.nav-link {
  color: var(--basic-white);
  opacity: 75%;
  padding: 0 32px;
}

.nav-link {
  position: relative;
}

.main-nav a:first-child {
  padding-left: 24px;
}

.search-modal-button {
  border: none;
  outline: none;
  background-color: transparent;
}

.user-buttons {
  color: var(--basic-white);
}

.working-hours {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}

.phone-number {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

.catalog-nav {
  width: 143px;
  min-height: 171px;
  background: var(--basic-white);
  list-style: none;
  border-radius: 4px;
  color: var(--promo-text);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-nav li:first-child {
  font-weight: 700;
  line-height: 18px;
  position: relative;
}

.catalog-nav li {
  line-height: 16px;
  padding: 14px 15px;

}

.promo-slider {
  margin-bottom: 50px;
}

.slider {
  list-style: none;
  min-height: 524px;
  width: 1146px;
  position: relative;
}

.slide-headline {
  color: var(--basic-white);
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
}

.slide-description {
  position: absolute;
  left: 264px;
  top: 275px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* добавить тень */


.main-ice {
  position: absolute;
}

.main-ice-left {
  left: 277px;
  top: -30px;
  z-index: 1;
}

.main-ice-right {
  left: 591px;
  top: 0px;
}

.slider-buy-button {
  min-width: 278px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  margin-top: 27px;
}


.slider-bullets {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 79px;
  justify-content: space-between;
  margin-top: -100px;

}

.slider-bullet {
  border: none;
  outline: none;
  background-color: transparent;
  padding-right: 8px;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
}

.slider-bullet-selected {
  width: 19px;
  height: 19px;
  background-color: var(--basic-white);
  border-radius: 50%;
}


.banner-wrapper {
  width: 560px;
  min-height: 229px;
  background-repeat: no-repeat;
  background-position: 0 0;
  color: var(--basic-white);
  font-weight: 700;
  font-size: 18px;
  z-index: 2;
  padding: 16px 30px 22px 16px;
  position: relative;
}

.banner-wrapper p {
  margin: 0;
  margin-bottom: 42px;
}

.banner-berries {
  background-image: url("../img/berries-banner.png");
}

.banner-choko {
  background-image: url("../img/choco-banner.png");
}

.banner-headline {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
}

.banner-button {
  position: absolute;
  right: 62px;
  cursor: pointer;
}

.items-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 26px;
  margin-top: 40px;
}

.hits-section {
  margin-top: 40px;
}


.hit-item {
  display: flex;
  flex-direction: column;
  position: relative;

}

.hit-icon {
  position: absolute;
  top: 0;
  left: 14px;
}

.hit-item::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0px;
  width: 61px;
  height: 61px;
  background-color: var(--basic-white);
  border-radius: 50%;

}

.hit-item-pic {
  border-radius: 50%;
}

.hit-desc {
  margin: 0;
  margin-top: 13px;
  text-align: center;
  color: var(--basic-white);
}

.hit-price {
  color: var(--basic-white);
  position: absolute;
  font-weight: 700;
  left: 0;
  top: 204px;
}

/* добавить тень плашке Хит */

.price-number {
  font-size: 45px;
  line-height: 45px;
}

.price-weight {
  font-size: 30px;
  line-height: 35px;
}

.details-button {
  max-width: 200px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.about-shop-section {
  background-image: url("../img/waffle-pattern.png");
  background-repeat: repeat;
  background-position: 0 0;
  min-height: 306px;
  border-radius: 10px;
  color: var(--promo-text);
  padding: 20px 23px 23px 20px;
  margin-top: 40px;
  box-sizing: border-box;

}

.promo-headline {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.promo-item-text {
  margin: 0;
  margin-top: 22px;
  padding-left: 55px;
  position: relative;
}

.promo-text-ice::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 13px;
  width: 16px;
  height: 32px;
  background-image: url("../img/promo-icon-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-text-ice::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -5px;
  width: 49px;
  height: 49px;
  border: 2px solid var(--promo-text);
  border-radius: 50%;
}

.promo-text-leaf::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 13px;
  width: 16px;
  height: 27px;
  background-image: url("../img/promo-icon-leaf.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-text-leaf::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -5px;
  width: 49px;
  height: 49px;
  border: 2px solid var(--promo-text);
  border-radius: 50%;
}

.promo-text-cow::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 13px;
  width: 24px;
  height: 24px;
  background-image: url("../img/promo-icon-cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-text-cow::after {
  content: "";
  position: absolute;
  top: -12px;
  left: -2px;
  width: 49px;
  height: 49px;
  border: 2px solid var(--promo-text);
  border-radius: 50%;
}

.promo-text-temperature::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 15px;
  width: 16px;
  height: 26px;
  background-image: url("../img/promo-icon-temp.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-text-temperature::after {
  content: "";
  position: absolute;
  top: -12px;
  left: -4px;
  width: 49px;
  height: 49px;
  border: 2px solid var(--promo-text);
  border-radius: 50%;
}

/* добавить тень .promo-headline */


.news-section {
  min-height: 220px;
  max-width: 560px;
  background-image: url("../img/straw-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 10px;
  margin-top: 40px;
  padding: 20px 23px;
  box-sizing: border-box;
}

.news-block-wrapper {
  max-width: 297px;
}


.news-title {
  font-weight: 500;
  color: var(--promo-text);
  margin-bottom: 15px;
}

.news-link-wrapper {
  margin: 0;

}

.news-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--promo-text);
  position: relative;
  text-decoration: underline;
}

.subs-section {
  margin-top: 40px;
  padding: 29px 16px 10px 16px;
  background-color: var(--basic-white);
  min-height: 210px;
  max-width: 560px;
  box-sizing: border-box;
  border-radius: 10px;
}

.mailing-text {
  margin: 0;
  color: var(--mailing-text);
}

.mailing-input {
  width: 368px;
  box-sizing: border-box;
  padding: 14px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--border-modal);
  margin-top: 47px;
  margin-right: 10px;
}

.contacts-section {
  margin-top: 40px;
  position: relative;
}

.contacts {
  max-width: 303px;
  min-height: 306px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--basic-white);
  position: absolute;
  top: 62px;
  right: 27px;
  padding: 32px 10px 28px 25px;
}

.contacts p {
  margin: 0;
}

.adress-text {
  font-size: 14px;
  line-height: 20px;
  color: var(--promo-text);
  padding-bottom: 8px;
}

.main-contacts {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--promo-text);
}

.main-adress {
  padding-bottom: 30px;
}

.mailing-button {
  margin-top: 31px;
  min-width: 253px;

}

.map-pin {
  position: absolute;
  top: 136px;
  left: 266px;
}

/*достать блок с картой из 1146px
заменить пин на кастомный */

.map-full {
  width: 1146px;
}

.feedback-modal {
  max-width: 477px;
  min-height: 441px;
  background-color: var(--basic-white);
  border-radius: 10px;
  padding: 20px 25px 27px 23px;
  position: relative;
  box-sizing: border-box;
}

.modal-close {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 15px;
  right: 16px;
}

.modal-headline {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--promo-text);
  margin: 0;
  margin-bottom: 26px;

}

.feedback-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 428px;
}

.feedback-input {
  box-sizing: border-box;
  max-width: 267px;
  padding: 16px 14px;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--border-modal);
  color: var(--modal-text);
}

.feedback-text {
  min-height: 154px;
  margin-bottom: 25px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--border-modal);
  padding: 16px 14px;
  color: var(--modal-text);
  box-sizing: border-box;
}

.feedback-submit {
  position: absolute;
  right: 25px;
  bottom: 27px;
  box-sizing: border-box;
  min-height: 44px;
  width: 140px;

}

.main-footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 26px;
  padding-top: 22px;
  border-top: 1px solid var(--border-opacity-white);
}

.footer-socials {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0;
  padding: 0;
}

.social-button {
  margin-right: 12px;
}

.social-icon {
  border: 2px solid var(--half-white);
  border-radius: 50%;
}

.info-links-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1fr);
  column-gap: 26px;
}

.left-column-links {
  grid-column: 1/2;

}


.right-column-links {
  grid-column: 2/2;
}


.footer-link {
  color: var(--basic-white);
}

.info-links-list .footer-link {
  font-size: 13px;
  line-height: 18px;
}

.main-footer-link {
  font-weight: 700;
  position: relative;
}

.main-footer-link::before {
    content: "";
    position: absolute;
    top: 1px;
    left: -22px;
    width: 15px;
    height: 13px;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-link-item {
    max-width: 170px;

}

.copyright-text {
  color: var(--basic-white);
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  margin-top: 10px;
}


.items-row {
  list-style: none;
}

.modal-cart {
  width: 539px;
  min-height: 242px;
  background-color: var(--modal-cart-back);
  padding: 30px 34px 21px 21px;
  box-sizing: border-box;
  border-radius: 5px;
}


.modal-cart-close {
  background-color: transparent;
  border: none;
  outline: none;
}

.cart-item-pic {
  border-radius: 50%;
}

.single-product {
  display: grid;
  grid-template-columns: 303px 205px;
  column-gap: 31px;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 20px;
}

.single-product-desc p {
  margin: 0;

}

.single-product-desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.final-price-wrapper {
  display: flex;
  flex-direction: column;

}

.final-cart-button {
  font-size: 18px;
  line-height: 16px;
  width: 172px;
  height: 44px;
}

.breadcrumbs-wrapper {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

}

.breadcrumbs-item {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 16px;
  margin-right: 22px;
  position: relative;
}

.breadcrumbs-item::after:not(:last-of-type) {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  background-image: url("../img/double-arrows-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-headline {
  margin: 9px 0 30px 0;
  color: var(--basic-white);
  font-size: 35px;
  line-height: 41px;
}



.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  margin: 80px 0 30px 907px;

}

.catalog-link {
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.current-page {
  position: relative;
  color: var(--promo-text);


}

.current-page::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 1px;
  width: 26px;
  height: 26px;
  background-color: var(--basic-white);
  border-radius: 50%;
}

.arrow-button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.pages-button {
  margin-right: 20px;
}

.sorting-list {
  width: 196px;
  box-sizing: border-box;
  background-color: var(--basic-white);
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting-list-item {
  padding: 7px 32px 8px 20px;
  box-sizing: border-box;
  color: var(--promo-text);
  font-size: 14px;
  line-height: 16px;
}

.sorting-list-selected {
  background-color: var(--selected-blue);
  color: var(--basic-white);
}


