/* Fonts */

/* roboto-regular */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
       url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), /* Modern Browsers */
}

/* roboto-500 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""),
       url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), /* Modern Browsers */
}

/* roboto-700 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""),
       url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), /* Modern Browsers */
}



/*Variables*/

:root {

  /* Main page colors */
  --basic-white: #ffffff;
  --basic-black: #000000;
  --index-green: #849d8f;
  --index-gray: #8996a6;
  --index-cocoa: #9d8b84;
  --promo-text: #323232;
  --shadow-black: rgba(0, 0, 0, 0.25);
  --basic-button-soft: rgba(242, 104, 67, 1);
  --basic-button-deep: rgba(231, 74, 53, 1);
  --basic-button-shadow: #ac1000;
  --border-opacity-white: rgba(255, 255, 255, 0.25);

  /* Catalog additional colors */

  /* Conditions colors */

}



/* Global */


body {
  width: 1146px;
  margin: 0 auto;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: var(--basic-black);
  position: relative;
}

.page {
  width: 1200px;
  height: 100%;
  background-color: var(--soft-back-gray);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.display-none {
  display: none;
}


.position-relative {
  position: relative;
}


.index-main-color {
  background-color: var(--index-green);
}

.index-gray-color {
  background-color: var(--index-gray);
}

.index-cocoa-color {
  background-color: var(--index-cocoa);
}

.basic-button {
  border-radius: 40px;
  color: var(--basic-white);
  font-weight: 700;
  background: linear-gradient(var(--basic-button-soft), var(--basic-button-deep));
  border: none;
  outline: none;
  padding: 15px 22px;
}

/* добавить тень .basic-button */

.two-columns-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 26px;

}
/* Main */

.main-logo-wrapper {
  padding-top: 9px;
}

.top-bar {
  display: grid;
  grid-template-columns: 3fr, 1fr;
  column-gap: 26px;
  min-height: 99px;
}

.logo-nav-wrapper {
  grid-column: 1/2;
  display: flex;
  flex-wrap: wrap;
}

.user-section {
  grid-column: 2/2;
  display: flex;
  flex-direction: column;
  padding-top: 23px;

}

.main-nav {
  font-weight: 700;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-top: 28px;
}

.nav-link {
  color: var(--basic-white);
  opacity: 75%;
  padding: 0 32px;
}

.nav-link {
  position: relative;
}

.main-nav a:first-child {
  padding-left: 24px;
}

.search-modal-button {
  border: none;
  outline: none;
  background-color: transparent;
}

.user-buttons {
  color: var(--basic-white);
}

.working-hours {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}

.phone-number {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

.catalog-nav {
  width: 143px;
  min-height: 171px;
  background: var(--basic-white);
  list-style: none;
  border-radius: 4px;
  color: var(--promo-text);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-nav li:first-child {
  font-weight: 700;
  line-height: 18px;
  position: relative;
}

.catalog-nav li {
  line-height: 16px;
  padding: 14px 15px;

}

.slider {
  list-style: none;
  min-height: 524px;
  width: 1146px;
  position: relative;
}

.slide-headline {
  color: var(--basic-white);
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin: 0 auto;
}

.slide-description {
  position: absolute;
  left: 264px;
  top: 275px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* добавить тень */


.main-ice {
  position: absolute;
}

.main-ice-left {
  left: 277px;
  top: -30px;
  z-index: 1;
}

.main-ice-right {
  right: 276px;
  top: 0px;
}

.slider-buy-button {
  min-width: 278px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}


.slider-bullets {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 79px;
  justify-content: space-between;
}

.slider-bullet {
  border: none;
  outline: none;
  background-color: transparent;
  padding-right: 8px;
}

.slider-bullet {
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
}

.slider-bullet-selected {
  width: 19px;
  height: 19px;
  background-color: var(--basic-white);
  border-radius: 50%;
}


.banner-wrapper {
  width: 560px;
  min-height: 229px;
  background-repeat: no-repeat;
  background-position: 0 0;
  color: var(--basic-white);
  font-weight: 700;
  font-size: 18px;
  z-index: 2;
}

.banner-berries {
  background-image: url("../img/berries-banner.png");
}

.banner-choko {
  background-image: url("../img/choco-banner.png");
}

.banner-headline {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}


.items-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 26px;
}


.hit-item {
  display: flex;
  flex-direction: column;
}

.hit-item-pic {
  border-radius: 50%;
}


.about-shop-section {
  background-image: url("../img/waffle-pattern.png");
  background-repeat: repeat;
  background-position: 0 0;
  min-height: 306px;
  border-radius: 6px;
  color: var(--promo-text);

}

.promo-headline {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

/* добавить тень .promo-headline */


